@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');

.login-container {
    margin-top: 3%;
    margin-bottom: 2%;
}

.login-form-1 {
    background-image: url(https://image.freepik.com/free-vector/access-control-system-abstract-concept_335657-3180.jpg);
    padding: 5%;
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    font-family: Poppins;
    padding-left: 40px;
    color: #222B45;
    ;
}

p {
    text-align: left;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #222B45;
    font-family: Poppins;
}


.login-form-2 {
    padding: 5%;
    background: #F9FBFD;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.p {
    font-family: "Poppins";
}

.login-form-2 h3 {
    text-align: center;
    color: #222B45;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 2%;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #101939;
}

.form-group .form-control {
    border-radius: 15px;
}
